@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

.One {
  background-color: #8A8A8A;
}

header {
  font-size: 40px;
  font-weight: bold;
  font-family: Copperplate, "Copperplate Gothic Lite", Fantasy;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 15px;
  color: #FFFFFF;
  width: 350px;
}

body {
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
}

.wrapper {
  background color: #FFFFFF;
  height: 768px;
  margin: 0;
}

h2 {
  color:#393939;
  margin-left: 25px;
  margin-right: auto;
}

p {
  margin-left: 25px;
  margin-right: auto;
}

footer {
  padding-top: 25px;
  width:270px;
/*  float:left;
  position:fixed; 
  bottom:50px; */
}

