@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);


header {
  font-size: 45px;
  padding-top: 20px;
  padding-bottom: 25px;
  width: 450px;
}

body {
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
}

.wrapper {
  background color: #FFFFFF;
  height: 768px;
  margin: 0;
}

h1 {
  font-size:28px;
  padding-top: 10px;
  padding-bottom: 5px;
}

h2 {
  color:#393939;
}

footer {
  padding-top: 25px;
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
}

